header {
  padding: 38px 0;
  border-bottom: 1px solid lightgrey;
  .wrapper {
    display: flex;
    width: 70%;
    // justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  .logo {
    margin-right: 2rem;
    a {
      color: rgb(34, 34, 34);
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      font-size: 1rem;
      text-transform: uppercase;
      text-decoration: none;
    }
  }

  .menu {
    li {
      cursor: pointer;
      display: inline-block;
      margin: 0 20px;
      color: rgb(73, 73, 73);
      transition: color 0.3s ease-in-out;
      font-family: 'Roboto Slab', serif;
      font-weight: 300;
      &:hover {
        color: rgb(34, 34, 34);
      }
    }
  }
}
